<html lang="en">
  <head>
   {{>header}}
    <title>Document</title>
  </head>
  <body>
      {{>navbar}}
      <h1 class="welcome text-center">Welcome to my login demo project homepage</h1>
  </body>
</html>