<div class="login">
  <div class="login-triangle"></div>
  
  <h2 class="login-header">Log in</h2>

  <form action = "/login" method="POST" class="login-container">
    <p><input name = "email"  type="email" placeholder="Email"></p>
    <p><input name="password" type="password" placeholder="Password"></p>
    <p><input name = "login" type="submit" value="Log in"></p><hr>
    <a href="/register" >Create An New Account</a>
  </form>
  </div>