<nav>
  <div class="logo">
   <a class="navbar-brand" href="/">BackEndLogin</a>
  </div>

  <ul>

    <li><a href="/homepage">Home</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/logout">logout</a></li>
    <li><a href="/register">Registration</a></li>
  </ul>
  <div class="menu-bars" id="toggle">
    <input type="checkbox" />
    <span></span>
    <span></span>
    <span></span>
  </div>
</nav>